p{
    color: red;
    font-weight: bold;
}

p:hover{
    color: blue;
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#demo{
    color: aqua;
}

#demo:hover{
    color: black;
}